<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <h1>Hello World.</h1>
    <h2>Clojure + ClojureScript</h2>
    <p>testing reload from emacs <code>M-x nrepl</code> connected
    to <code>lein repl</code></p>
    <pre>(require 'sim-cljs.server :reload)</pre>
    <button id="go" data-sim="ClojureScript rules.">Load some photos from tumblr.</button>
  </body>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/1.0.0-rc.2/lodash.underscore.min.js"></script>
  <!--<script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/0.9.2/backbone-min.js "></script>-->
  <script src="/js/cljs.js"></script>
</html>
