<!DOCTYPE html>
<html>
  <head>
    <script src="/js/vendor/modernizr.custom.09566.js"></script>
  </head>
  <body>
    <h1>Hello World.</h1>
    <h2>Clojure + ClojureScript</h2>
    <p>testing reload from emacs <code>M-x nrepl</code> connected
    to <code>lein repl</code></p>
    <pre>(require 'sim-cljs.server :reload)</pre>
    <button id="go" data-sim="ClojureScript rules.">Load some photos from tumblr.</button>
  </body>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/1.0.0-rc.3/lodash.underscore.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/0.9.10/backbone-min.js "></script>
  <script>
    Modernizr.load([
      {
        test: window.jQuery,
        nope: '/js/vendor/jquery-1.8.3.js'
      },
      {
        test: window._,
        nope: '/js/vendor/lodash-1.0.0-rc3.js'
      },
      {
        test: window.Backbone,
        nope: '/js/vendor/backbone-0.9.10.js'
      },
      {
        load: '/js/cljs.js'
      }
    ]);
  </script>
</html>
